<form>
  <div class="form-group">
{{input type="text" class="form-control" id="searchField" placeholder="Search activities..." value=query }}
</div>
</form>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">User</th>
			<th scope="col">Machine</th>
			<th scope="col">Activity Type</th>
			<th scope="col">Timestamp</th>
		</tr>
	</thead>
	<tbody>
		{{#each filteredSortedActivities as |activity|}}
		{{#if activity.typingProfile}}
		{{#if activity.typingProfile.user}}
		{{#if activity.typingProfile.machine}}
		{{#if activity.activityType}}
		{{#link-to 'activities.activity' activity.id tagName="tr" class="clickable-row"}}
		<th scope="row">
			{{#link-to 'users.user' activity.typingProfile.user}}
			{{activity.typingProfile.user.name}}
			{{/link-to}}
		</th>
		<td>
			{{#link-to 'machines.machine' activity.typingProfile.machine}}
			{{activity.typingProfile.machine.mac}}
			{{/link-to}}
		</td>
		<td>{{activity.activityType}}</td>
		<td>{{moment-from-now activity.timestamp}}</td>
		{{/link-to}}
		{{/if}}
		{{/if}}
		{{/if}}
		{{/if}}
		{{/each}}
	</tbody>
</table>
{{page-numbers currentPage=page totalPages=totalPages onPageChange=(action 'onPageChange')}}