<ul class="nav justify-content-end">
	<li class="nav-item">
		<a href="#" onclick="window.history.back()" class="nav-link">&larr; Back</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{{if typingProfile.hasDirtyAttributes '' ' disabled'}}" {{action "save"}} href="#">Save</a>
	</li>
	<li class="nav-item">
		{{#if typingProfile.hasDirtyAttributes}}
		<a class="nav-link" {{action "undo"}} href="#">Undo</a>
		{{else}}
		<a class="nav-link" {{action "delete"}} href="#">Delete</a>
		{{/if}}
	</li>
	{{#if typingProfile.isNew}}
	<a class="btn btn-outline-danger" {{action "cancel"}} href="#">Cancel</a>
	{{else}}
	<li class="nav-item">
		{{#link-to 'profiles.new' class="nav-link"}}New{{/link-to}}
	</li>
	{{/if}}

</ul>

{{error-container errors=errors}}

<h1>Typing Profile</h1>
<form>
	<div class="form-group">
	{{#if isNew}}
		<label for="userField">User</label>
		{{#power-select options=users onchange=(action "selectUser") selected=selectedUser as |user|}}
		{{user.name}}
		{{/power-select}}
	{{else}}
		<label for="userField">{{#link-to 'users.user' typingProfile.user.id}}User &rarr;{{/link-to}}</label>
		{{input type="text" class="form-control" readonly="readonly" id="userField" placeholder="Enter user" value=typingProfile.user.name }}
	{{/if}}
	</div>

	<div class="form-group">
	{{#if isNew}}
		<label for="machineField">Machine</label>
		{{#power-select options=machines onchange=(action "selectMachine") selected=selectedMachine as |machine|}}
		{{machine.mac}}
		{{/power-select}}
	{{else}}
		<label for="machineField">{{#link-to 'machines.machine' typingProfile.machine.id}}Machine &rarr;{{/link-to}}</label>
		{{input type="text" class="form-control" readonly="readonly" id="machineField" placeholder="Enter machine" value=typingProfile.machine.mac }}
	{{/if}}
	</div>
	

	<div class="form-group">
		<label for="heartbeatField">Last Heartbeat</label>
		{{input type="text" class="form-control" readonly=(if isEditing "readonly") id="heartbeatField" placeholder="Enter last heartbeat" value=typingProfile.lastHeartbeat }}
	</div>

	<div class="form-group">
		<label for="strategiesField">Challenge Strategies</label>
		{{input type="text" class="form-control" id="strategiesField" placeholder="Enter challenge strategies" value=typingProfile.challengeStrategies }}
		<label for="strategiesField"> Input in CSV format. Default for your organization: {{currentUser.user.organization.defaultChallengeStrategies}}. Suggested: GoogleAuth,TextMessage </label>
	</div>
</form>