<ul class="nav justify-content-end">
	<li class="nav-item">
		{{#link-to 'profiles.list' class="nav-link"}}&larr; Back{{/link-to}}
	</li>
	<li class="nav-item">
		<a class="nav-link{{if machineChanged '' ' disabled'}}" {{action "save"}} href="#">Save</a>
	</li>
	<li class="nav-item">
		{{#if typingProfile.hasDirtyAttributes}}
		<a class="nav-link" {{action "undo"}} href="#">Undo</a>
		{{else}}
		<a class="nav-link" {{action "delete"}} href="#">Delete</a>
		{{/if}}
	</li>
	{{#if typingProfile.isNew}}
	<a class="btn btn-outline-danger" {{action "cancel"}} href="#">Cancel</a>
	{{else}}
	<li class="nav-item">
		{{#link-to 'profiles.new' class="nav-link"}}New{{/link-to}}
	</li>
	{{/if}}

</ul>

{{error-container errors=errors}}

<h1>Typing Profile</h1>
<br/>
{{#unless isNew}}
<button class="btn btn-primary" id="isLockedField" {{action "toggleLocked"}}>{{#if typingProfile.isLocked}}Unlock Remotely{{else}}Lock Remotely{{/if}}</button>
<br/>
<br/>
{{/unless}}
<form>
	<div class="form-group">
	{{#if isNew}}
		<label for="userField">User</label>
		{{#power-select options=users onchange=(action "selectUser") selected=selectedUser as |user|}}
		{{user.name}}
		{{/power-select}}
	{{else}}
		<label for="userField">{{#link-to 'users.user' typingProfile.user.id}}User &rarr;{{/link-to}}</label>
		{{input type="text" class="form-control" readonly="readonly" id="userField" placeholder="Enter user" value=typingProfile.user.name }}
	{{/if}}
	</div>

	<div class="form-group">
	{{#if isNew}}
		<label for="machineField">Machine</label>
	{{else}}
		<label for="machineField">{{#link-to 'machines.machine' typingProfile.machine.id}}Machine &rarr;{{/link-to}}</label>
	{{/if}}
		{{#power-select options=machines onchange=(action "selectMachine") selected=selectedMachine as |machine|}}
		{{machine.mac}}
		{{/power-select}}
	</div>
	
	{{#unless isNew}}
	{{#unless typingProfile.lastHeartbeat}}
	<div class="form-group">
		<label for="heartbeatField">Last Heartbeat</label>
		{{input type="text" class="form-control" readonly="readonly" id="heartbeatField" placeholder="Enter last heartbeat" value=(unix typingProfile.lastHeartbeat) }}
	</div>
	{{/unless}}
	{{/unless}}

	<div class="form-group">
		<label for="strategiesField">Challenge Strategies</label>
		{{#power-select-multiple-with-create options=currentUser.user.organization.defaultChallengeStrategies selected=selectedStrategies onchange=(action (mut selectedStrategies)) oncreate=(action "createStrategy") as |strategy|}}
		{{strategy}}
		{{/power-select-multiple-with-create}}
		<label for="strategiesField">If the strategy you want isn't an option, feel free to add your own!</label>
	</div>
</form>

{{#unless isNew}}
<h4>Recent Activity</h4>
{{analysis-result-graph typingProfile=typingProfile onRefresh=onRefresh}}
<br/><br/>
<div class="card">
	{{#link-to 'activities' class="card-header clickable-row" tagName="h5"}}Activities{{/link-to}}
	<div class="card-body">
		<p class="card-text">
			{{activity-list activities=profileActivities serverPaginated=false}}
		</p>
	</div>
</div>
{{/unless}}