{{input type="text" class="form-control" id="searchField" placeholder="Search typing profiles..." value=query }}
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">User</th>
			<th scope="col">Machine</th>
			<th scope="col"></th>
			<th scope="col">Status</th>
		</tr>
	</thead>
	<tbody>
		{{#each sortedModel as |tp|}}
		{{#if tp.user}}
		{{#if tp.machine}}
		{{#unless tp.isDeleted}}
		{{#unless tp.isNew}}
		{{#link-to 'profiles.profile' tp.id tagName="tr" class="clickable-row"}}
		<th scope="row">
			{{#link-to 'users.user' tp.user}}
			{{tp.user.name}}
			{{/link-to}}
		</th>
		<td>
			{{#link-to 'machines.machine' tp.machine}}
			{{tp.machine.mac}}
			{{/link-to}}
		</td>
		<th scope="row">{{#if tp.isActive}}{{fa-icon "circle"}}{{else}}{{fa-icon "circle-o"}}{{/if}}
		</th>
		<td>{{#if tp.isLocked}}{{fa-icon "lock"}}{{else}}{{fa-icon "unlock"}}{{/if}}</td>
		{{/link-to}}
		{{/unless}}
		{{/unless}}
		{{/if}}
		{{/if}}
		{{/each}}
	</tbody>
</table>
<p>{{fa-icon "circle"}} indicates that the user's typing profile is online.</p>