<form>
  <div class="form-group">
{{input type="text" class="form-control" id="searchField" placeholder="Search users..." value=query}}
</div>
</form>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Organization</th>
			<th scope="col">Email</th>
			<th scope="col">Phone Number</th>
			<th scope="col" class="center-text-table-cell">Administrator</th>
		</tr>
	</thead>
	<tbody>
		{{#each sortedFiltered as |user|}}
		{{#if user.email}}
		{{#if user.organization}}
		{{#unless user.isNew}}
		{{#unless user.isDeleted}}
		{{#link-to 'users.user' user.id tagName="tr" class="clickable-row"}}
		<th scope="row">{{user.name}}</th>
		<td>
			{{#link-to 'organizations.organization' user.organization}}
			{{user.organization.name}}
			{{/link-to}}
		</td>
		<td>{{user.email}}</td>
		<td>{{user.phoneNumber}}</td>
		<td class="center-text-table-cell">{{#if user.isAdmin}}{{fa-icon "check-square"}}{{else}}{{fa-icon "square" style="regular"}}{{/if}}</td>
		{{/link-to}}
		{{/unless}}
		{{/unless}}
		{{/if}}
		{{/if}}
		{{/each}}
	</tbody>
</table>